SHOPIFY_STORE_URL=your-store.myshopify.com
SHOPIFY_ACCESS_TOKEN=your-access-token
SHOPIFY_API_VERSION=2024-01
SHOPIFY_STOREFRONT_TOKEN=your-storefront-token
NEXT_PUBLIC_WEBSOCKET_URL=http://localhost:3002
