@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 60mm 90mm;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}
